<!--**********************************
            Content body start
***********************************-->
<style>
  .col-md-3 img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }
</style>
<div class="content-body pt-3" style="margin-top: 10%">
  <!-- row -->

  <div class="container-fluid justify-content-center d-flex">
    <div class="col-7 p-4">
      <div
        class="card mt-2"
        style="background-color: rgb(248, 246, 218); border-radius: 10px"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 text-center">
              <h3>Tên: <%= client.name%></h3>
            </div>
            <div class="col-md-6 text-center">
              <h3>Tổng cộng: <%= invoice.value %></h3>
            </div>
            <div class="col-md-12 text-center">
              <h3>Địa chỉ: <%= invoice.deliveryAddress %></h3>
            </div>
            <div class="col-md-12 text-center">
              <h3>Số điện thoại: <%= invoice.phoneNumber %></h3>
            </div>
          </div>
          <div class="row rounded mt-4">
            <table class="table table-striped table-bordered border-primary">
              <tr>
                <th style="width: 10%"><h4>STT</h4></th>
                <th style="width: 40%"><h4>Tên</h4></th>
                <th style="width: 30%"><h4>Giá</h4></th>
                <th style="width: 20%"><h4>Số lượng</h4></th>
              </tr>
              <% if (invoice!='') { for(let j in invoice.items){ %>
              <tr>
                <td><h5><%= parseInt(j) + 1 %></h5></td>
                <td><h5><%= invoice.items[j].name %></h5></td>
                <td><h5><%= invoice.items[j].price %></h5></td>
                <td><h5><%= invoice.items[j].count %></h5></td>
              </tr>
              <% } } else { %>
              <h1>No Item found</h1>
              <% } %>
            </table>
          </div>
          <% if(invoice.note!=null){ %>
          <div class="row rounded mt-4 justify-content-center">
            <textarea
              name="note"
              id="note"
              class="form-control"
              cols="30"
              rows="4"
              type="text"
              placeholder="Ghi chú:"
              style="font-size: large"
              disabled
            >
<%= invoice.note%></textarea
            >
          </div>
          <% } %>
          <div class="row rounded mt-4 justify-content-center">
            <h2><%= status %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 pt-5 pb-5">
      <% if(invoice.status == 1) { %>
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <a
            class="btn btn-warning text-white"
            href="/client"
            style="
              border-radius: 20px;
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
            "
            ><h5>Mua sắm ngay bây giờ??</h5></a
          >
        </div>
        <div class="col-4 text-center">
          <a
            style="
              border-radius: 20px;
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
            "
            class="btn btn-danger"
            href="/cancel/<%= invoice._id %>"
            ><h5>Hủy đơn hàng : (</h5></a
          >
        </div>
      </div>
      <% } else { %>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <a
            class="btn btn-warning text-white"
            href="/client"
            style="
              border-radius: 20px;
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
            "
            ><h5>Mua sắm ngay bây giờ??</h5></a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <script>
    //   function myFunction(id) {
    //   }
  </script>
  <!-- #/ container -->
  <!--**********************************
                      Content body end
          ***********************************-->
</div>
