<!--**********************************
            Content body start
***********************************-->
<style>
  .col-md-3 img {
    width: 100%;
    height: 15vh;
    object-fit: contain;
  }
</style>
<div class="content-body pt-3">
  <!-- row -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <% if (drinks != '') { %> <% drinks.forEach(function(drink, index){ %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row rounded">
              <div class="col-md-3">
                <img
                  class="img-fluid img-responsive rounded product-image"
                  id="product"
                  src="<%= drink.image_url%>"
                />
              </div>
              <div class="col-md-6 border-left mt-1">
                <h3><%= drink.name %></h3>
                <div class="mt-1 mb-1 spec-1"><h5>Type: <%= drink.type %></h5></div>
                <p class="text-justify para mb-0 text-truncate">
                  Description: <%= drink.description%>
                </p>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row">
                  <h4 class="mr-1"><%= drink.price %> VND</h4>
                </div>
                <div class="d-flex flex-column mt-4">
                  <a href="/admin-update-drink/<%= drink._id %>" class="btn btn-warning btn-sm"
                    >Update</a
                  >
                  <form
                    action="admin-delete-drink/<%= drink._id %>"
                    method="POST"
                    class="d-flex flex-column"
                  >
                    <button class="btn btn-outline-danger btn-sm mt-2" type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% }) %> <% } else { %>
      <h4>No item found</h4>
      <% } %>
    </div>
  </div>
  <div class="p-4 d-flex justify-content-center">
    <a
      href="/admin-add-drink"
      type="submit"
      class="btn btn-primary text d-flex justify-content-center"
      >Add a new drink</a
    >
  </div>
</div>
<script>
  $(document).ready(function () {
    var showChar = 100;
    var ellipsestext = '...';
    var moretext = 'more';
    var lesstext = 'less';
    $('.more').each(function () {
      var content = $(this).html();

      if (content.length > showChar) {
        var c = content.substr(0, showChar);
        var h = content.substr(showChar - 1, content.length - showChar);

        var html =
          c +
          '<span class="moreellipses">' +
          ellipsestext +
          '&nbsp;</span><span class="morecontent"><span>' +
          h +
          '</span>&nbsp;&nbsp;<a href="" class="morelink">' +
          moretext +
          '</a></span>';

        $(this).html(html);
      }
    });

    $('.morelink').click(function () {
      if ($(this).hasClass('less')) {
        $(this).removeClass('less');
        $(this).html(moretext);
      } else {
        $(this).addClass('less');
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });
  });
</script>
<!-- #/ container -->
<!--**********************************
                Content body end
    ***********************************-->
