<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card gradient-1">
          <div class="card-body">
            <h3 class="card-title text-white">Products Sold</h3>
            <div class="d-inline-block">
              <h2 class="text-white"><%= count %></h2>
              <!-- <p class="text-white mb-0"><%- new Date().toDateString()%></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card gradient-2">
          <div class="card-body">
            <h3 class="card-title text-white">Total Sales</h3>
            <div class="d-inline-block">
              <h2 class="text-white">VND <%= sales %></h2>
              <!-- <p class="text-white mb-0"><%- new Date().toDateString()%></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- something -->

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body pb-0 d-flex justify-content-between">
                <div>
                  <h4 class="mb-1">The last week invoices</h4>
                </div>
              </div>
              <div class="chart-wrapper">
                <canvas id="chart_widget_2"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- #/ container -->
  </div>
  <!--**********************************
            Content body end
        ***********************************-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  let ctx = document.getElementById('chart_widget_2');
  ctx.height = 280;
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        '<%= weekChart[0].date.toDateString() %>',
        '<%= weekChart[1].date.toDateString() %>',
        '<%= weekChart[2].date.toDateString() %>',
        '<%= weekChart[3].date.toDateString() %>',
        '<%= weekChart[4].date.toDateString() %>',
        '<%= weekChart[5].date.toDateString() %>',
        '<%= weekChart[6].date.toDateString() %>',
      ],
      type: 'line',
      defaultFontFamily: 'Montserrat',
      datasets: [
        {
          data: [
            '<%= weekChart[0].sales %>',
            '<%= weekChart[1].sales %>',
            '<%= weekChart[2].sales %>',
            '<%= weekChart[3].sales %>',
            '<%= weekChart[4].sales %>',
            '<%= weekChart[5].sales %>',
            '<%= weekChart[6].sales %>',
          ],
          label: 'Sales',
          borderColor: '#847DFA',
          borderWidth: 7,
          pointStyle: 'circle',
          pointRadius: 5,
          pointBorderColor: 'transparent',
          pointBackgroundColor: 'cyan',
        },
      ],
    },
    options: {
      responsive: !0,
      maintainAspectRatio: false,
      tooltips: {
        mode: 'index',
        titleFontSize: 12,
        titleFontColor: '#000',
        bodyFontColor: '#000',
        backgroundColor: '#fff',
        titleFontFamily: 'Montserrat',
        bodyFontFamily: 'Montserrat',
        cornerRadius: 3,
        intersect: false,
      },
      legend: {
        display: true,
        position: 'top',
        labels: {
          usePointStyle: true,
          fontFamily: 'Montserrat',
        },
      },
      scales: {
        xAxes: [
          {
            display: true,
            gridLines: {
              display: true,
              drawBorder: true,
            },
            scaleLabel: {
              display: true,
              labelString: 'Month',
            },
          },
        ],
        yAxes: [
          {
            display: true,
            gridLines: {
              display: true,
              drawBorder: true,
            },
            scaleLabel: {
              display: true,
              labelString: 'Value',
            },
          },
        ],
      },
      title: {
        display: true,
      },
    },
  });
</script>
