<div class="content-body" style="margin-top: 10%">
  <!-- row -->
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="row rounded justify-content-center">
            <% if(invoice != ''){ %>
            <div class="row">
              <div class="col-12"><h2>Tên khách hàng: <%= client.name %></h2></div>
              <div class="col-12">
                <h3>Thời gian tạo: <%= invoice.createTime %></h3>
              </div>
              <div class="col-12">
                <h3>Địa chỉ: <%= invoice.deliveryAddress %></h3>
              </div>
              <div class="col-12"><h3>Số điện thoại: <%= invoice.phoneNumber %></h3></div>

              <div class="col-12"><h3>Ghi chú: <%= invoice.note%></h3></div>
              <div class="col-12"><h3>Items:</h3></div>
            </div>

            <table
              class="table table-sm table-striped table-bordered border-primary"
            >
              <tr>
                <th style="width: 10%">No.</th>
                <th style="width: 50%">Tên</th>
                <th style="width: 30%">Giá</th>
                <th style="width: 10%">Số lượng</th>
              </tr>
              <% invoice.items.forEach((item, index)=>{%>
              <tr>
                <td><h3><%= parseInt(index) + 1 %></h3></td>
                <td><h3><%= item.name %></h3></td>
                <td><h3><%= item.price %></h3></td>
                <td><h3><%= item.count %></h3></td>
              </tr>
              <% }) %>
              <tr>
                <td colspan="2"><h2>Total:</h2></td>
                <td colspan="2" class="text-right">
                  <h2><%= invoice.value %></h2>
                </td>
              </tr>
            </table>
            <% } %>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div col-6>
          <a
            href="/finish-dilivering/<%= transport._id %>"
            class="text-center text-white btn btn-lg btn-warning"
            style="
              border-radius: 10px;
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
            "
            ><h2>Kết thúc</h2></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
